body {
  display: flex;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
}

.page {
  background-image: url("/images/spaceWallpaper.jpg");
  background-repeat: no-repeat;
}

#header,
#footer {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 36px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
